<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>
    <!-- 仅在API 28及以下需要 -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature
            android:name="android.hardware.nfc.hce"
            android:required="false"/>

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
            android:icon="@mipmap/ic_launcher"
            android:allowBackup="true"
            android:requestLegacyExternalStorage="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.BCardTools">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.BCardTools">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".CardDetailActivity"
                android:exported="false"/>
        <activity
                android:name=".AboutActivity"
                android:exported="false"/>
        <activity
                android:name=".SyncActivity"
                android:exported="false"
                android:label="WebDAV 同步"/>
        <activity
                android:name=".BatchBurnActivity"
                android:exported="false"
                android:label="批量烧写"/>
    </application>

</manifest>